//Custom colors
$primary:       #C5979D !default;
$secondary:     #002626 !default;
$light:         #305252 !default;
$dark:          #ffffff !default;

$body-bg: #002626;
$body-color: #ffffff;

//Import default bootstraps to override
@import '../../node_modules/bootstrap/scss/bootstrap';